.jokes {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.jokess {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}